<div id="quickNav" class="quickNav-header property-header quickbooks">
	
	<div id="moreFromIntuit" class="more-from-intuit">
		<div class="more-from-intuit-container">

			<form role="search" action="//www.intuit.com/sbweb/common/catalog/category/internal_search/search_redirect.jsp" method="get">
				<label for="searchIntuit" class="visually-hidden">Search Intuit Small Business</label>
				<input id="searchIntuit" name="searchIntuit" type="text" class="search-intuit" placeholder="Search Intuit">
                </form>

		</div>
	</div>

	<div class="top-bar">
		<div class="top-bar-container">
			
			<a class="intuit-logo visually-hidden-text" href="http://quickbooks.intuit.com">
				Intuit: Small business, rejoice.&#8482;
				<span class="intuit-logo-image">Intuit Logo</span>
				<span class="property-logo-image">Quickbooks Logo</span>
			</a>
			
			<ul class="quickNav-menu nav-links">
				<li>
					<div class="phone-number">(877) 683-3280</div>
				</li>
				<li>
					<a href="#Security">Security</a>
				</li>
				<li>
					<a href="#My Cart">My Cart (<span id="cartItemCount" class="cart-item-count">0</span>)</a>
				</li>
				<li class="sub-menu">
					<a href="#Sign In">Sign In<span class="sub-menu-icon"></span></a>
					<ul>
						<li><a href="#Intuit Websites">Intuit Websites</a></li>
						<li><a href="#QuickBooks Online">QuickBooks Online</a></li>
						<li><a href="#Intuit Payroll">Intuit Payroll</a></li>
						<li><a href="#Other Services">Other Services</a></li>
					</ul>
				</li>
				<li>
					<a href="#More From Intuit" id="moreFromIntuitLink" class="more-from-intuit-link">More From Intuit<span class="more-from-intuit-link-icon"></span></a>						
				</li>
			</ul>

		</div>
	</div>
	
	<div class="nav-bar">
		<div class="nav-bar-container">

			<ul class="quickNav-menu phone-info">
				<li class="sub-menu">
					<div>
						<span class="phone-icon"></span><span class="phone-number">(877) 683-3280</span><span class="info-icon"></span>
					</div>
					<ul>
						<li>
							<div class="call-center-status">SALES: Currently <span class="open">Open!</span><span class="closed">Closed</span></div>
							Mon. - Fri. 5 AM - 6 PM PT
						</li>
						<li class="more-phone-numbers">
							<a href="//about.intuit.com/contact/">More phone numbers&hellip;</a>
						</li>
					</ul>
				</li>
			</ul>

			<ul class="quickNav-menu">					
				<li class="sub-menu">
					<a href="#Bookkeeping and Accounting Software">Bookkeeping and Accounting Software</a>
					<ul>
						<li>
							<a href="#Online Accounting Software">Online Accounting Software</a>
						</li>
						<li>
							<a href="#Bookkeeping">Bookkeeping</a>
						</li>
					</ul>
				</li>
				<li class="sub-menu">
					<a href="#Business Software">Business Software</a>
					<ul>
						<li>
							<a href="#Contractor and Construction Accounting">Contractor and Construction Accounting</a>
						</li>
						<li>
							<a href="#Manufacturing">Manufacturing</a>
						</li>
						<li>
							<a href="#Nonprofit Accounting">Nonprofit Accounting</a>
						</li>
						<li>
							<a href="#Professional Services">Professional Services</a>
						</li>
						<li>
							<a href="#Retail Accounting">Retail Accounting</a>
						</li>
						<li>
							<a href="#Enterprise Accounting">Enterprise Accounting</a>
						</li>
						<li>
							<a href="#Accountants">Accountants</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#Checks and Supplies">Checks and Supplies</a>
				</li>					
				<li class="sub-menu">
					<a href="#Support">Support</a>
					<ul>
						<li>
							<a href="#QuickBooks Support">QuickBooks Support</a>
						</li>
						<li>
							<a href="#QuickBooks Online Support">QuickBooks Online Support</a>
						</li>
						<li>
							<a href="#QuickBooks User Community">QuickBooks User Community</a>
						</li>
						<li>
							<a href="#QuickBooks Support Plans">QuickBooks Support Plans</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>